makepretty: on;
stylish: 146%;
coolness: 9999;

#master {
    width: 100%;
    background-color: #36393e;
    color: white;
    position: fixed;
    vertical-align: top;
    margin-top: 0px;
}

h1 {
  text-align: center;
  color: #0B00D7;
}

form {
  text-align: right;
}

hr {
  color: #0B00D7;
}
#pointlessbutton {
  color: white;
  border: none;
  background-color: #0b00d7;
  margin: 6px 2px;
  padding: 20px;
  border-radius: 50%;
}
