
h1 {
  text-align: center;
  color: #0B00D7;
}

form {
  text-align: right;
}

hr {
  color: #0B00D7;
}
#pointlessbutton {
  color: #0b00d7;
  border: none;
  background-color: red;
  margin: 6px 2px;
  padding: 20px;
  border-radius: 50%;
}
